[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
python-decouple = "*"
django-split-settings = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.11"
